<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boneka Dari Kain Flanel</title>
    <link rel="stylesheet" href="/boneka.css">
</head>

<body>
    <br>
    <td> <a href="/bukaUser" target="_blank" rel="nofollow"><img
                src="https://cdn-icons-png.flaticon.com/128/2099/2099238.png" alt="Deskripsi Gambar"
                title="Deskripsi Gambar" width="30" height="35" style="float: left;" />
        </a> </td>
    <br>
    <br>
    <hr>

    <h5>Makecraft.com</h5>
    <br>
    <h1 align="center">Cara Membuat Boneka Dari Kain Flanel</h1>
    <a
        href="https://www.liputan6.com/citizen6/read/3910632/cara-membuat-boneka-dari-kain-flanel-cocok-untuk-si-kecil">sumber:liputan6.com</a>
    <br>
    <br>
    <img src="https://cdn0-production-images-kly.akamaized.net/xj0LHnZpOQrXF2g5cvToTFttfdE=/640x360/smart/filters:quality(75):strip_icc():format(jpeg)/kly-media-production/medias/2744579/original/021732100_1551850495-foto_boneka.jpg"
        width="300" height="300" style="display:block; margin:auto">
    <p style="font-weight: bold; font-size: 22px;">&nbsp;&nbsp;&nbsp;&nbsp;Alat Dan Bahan :</p>
    <ul class="a">
        <li style="font-weight: normal;">Kain Flanel berbagai warna</li>
        <li style="font-weight: normal;">4 buah kancing (ukuran 3/4 inci)</li>
        <li style="font-weight: normal;">Benang sulam</li>
        <li style="font-weight: normal;">Kapas,dacorn atau isian untuk beruang</li>
        <li style="font-weight: normal;">Gunting</li>
        <li style="font-weight: normal;">Jarum jahit</li>
        <li style="font-weight: normal;">Jarum pentul atau klip</li>
        <li style="font-weight: normal;">Kertas (untuk membuat pola)</li>
    </ul>
    <p style="font-weight: bold; font-size: 22px;">&nbsp;&nbsp;&nbsp;&nbsp;Cara Membuat :</p>
    <ol type="1">
        <li style="font-size: 20px;">Persiapkan Alat Dan Bahan</li>
        <p>
            Cara membuat boneka dari kain flanel yang paling utama adalah menyiapkan alat dan bahan.Gunakan kain flanel
            warna coklat muda untuk badan beruang,
            cokelat tua untuk mata dan hidung. Untuk baju, siapkan aneka warna kain flanel atau Anda juga dapat
            menggunakan kain flanel bermotif.
        </p>
        <li style="font-size: 20px;">Membuat Pola</li>
        <p>
            Setelah alat dan bahan siap. Cara membuat boneka dari kain flanel selanjutnya adalah dengan membuat pola.
            Pola ini berupa badan beruang dan pakaian, Anda bisa menggunakan pola yang sudah ada seperti pada gambar
            diatas dengan mencetaknya.
            Print pola beruang tersebut lalu potong 2 lembar kain flanel cokelat muda mengikuti pola badan beruang.
            Potong juga mata dan hidung dengan flanel cokelat tua. Kemudian potong kain aneka warna lainnya sesuai
            dengan pola pakaian beruang yang ada.
        </p>
        <li style="font-size: 20px;">Menempel Mata, Hidung dan Kancing</li>
        <p>
            Setelah kain flanel terpotong sesuai dengan pola, cara membuat boneka dari kain flanel selanjutnya mulailah
            untuk menempel mata dan hidung beruang pada selembar potongan badan beruang (nantinya akan jadi bagian
            depan).
            Anda dapat menjahit mata dan beruang dengan benang sulam di bagian kepala beruang. Jangan lupa untuk membuat
            mulut beruang dengan teknik Jahit sederhana menggunakan benang.
            Kemudian, tempel keempat kancing ke potongan beruang yang sama dengan mata dan hidung tadi. Jahit 2 kancing
            masing-masing di sisi atas lengan, dan 2 lagi di sisi atas kaki.
        </p>
        <li style="font-size: 20px;">Menjahit dan Mengisi Badan Boneka</li>
        <p>
            Setelah sisi depan beruang siap, mulailah menjahit kedua potongan badan beruang. Gunakan jarum pentul atau
            jepitan untuk menahan kedua potongan beruang agar lebih mudah dijahit. Jahit 2 lembar potongan badan beruang
            dibagian pinggirnya. Sisakan sedikit lubang untuk tempat mengisi isian boneka.
            Isi badan boneka dengan isian yang telah disiapkan tadi. Gunakan potongan-potongan kecil kapas atau dacorn
            untuk mengisi boneka dari kaki sampai kepala, jangan lupa untuk mengisi bagian telinga.
            Tidak perlu terlalu padat namun pastikan juga si beruang tidak terlalu lemah. Jahit lubang agar menutup
            sempurna. Dengan begitu beruang siap diberi pakaian.
        </p>
        <li style="font-size: 20px;">Membuat Pakaian Boneka</li>
        <p>
            Cara membuat boneka dari kain flanel selanjutnya adalah membuat pakaian beruang. Gunakan pola yang ada untuk
            memotong pakaian. Lipat flanel menjadi dua untuk memotong celah lubang kancing.
            Periksa setiap lubang kancing dengan kancing agar pas dengan lubang yang ada. Anda mungkin perlu memperbesar
            sedikit lubang tergantung pada ukuran kancing yang Anda gunakan.
            Pakaian bisa sesederhana bentuk dasar pola dengan lubang kancing. Atau Anda dapat menambahkan hiasan
            tambahan! Di sinilah anak juga bisa terlibat.
            Biarkan mereka memilih warna atau hiasan untuk ditambahkan. Anda bahkan bisa membiarkan mereka menghiasi
            pakaian dengan menempelkan potongan flanel atau melukis dengan cat kain.
        </p>
        <li style="font-size: 20px;">Boneka Beruang Siap dengan Ragam Pakaiannya</li>
        <p>
            Setelah pakaian beruang jadi, pasangkan pakaian tersebut dengan kancing yang ada. Pakaian dapat dilepas dan
            diganti dengan pakaian lain.
        </p>
    </ol>
    <br>
    <br>
</body>

</html>