<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>makecraft.com</title>
    <link rel="stylesheet" href="/home.css">
</head>

<body>

    <div class="menu">
        <ul class="horizontal">
            <li>
                <h5>Makecraft.com</h5>
            </li>
    </div>
    <br>
    <br>
    <img src="https://cdn-icons-png.flaticon.com/512/3464/3464223.png" width="350" height="355" style="float: right;" />

    <h1 style="margin-left: 180px;">Kerajinan Tangan</h1>
    <br>
    <h3 style="margin-left: 117px;">Temui Di Website Ini Banyak Berbagai Cara</h3>
    <h3 style="margin-left: 117px;">Dalam Membuat Kerajinan Tangan</h3>
    <h4 style="margin-left: 120px;">Silahkan Klik Di Bawah Ini
    </h4>
    <!-- <img src="Panah.png" width="100" height="100" alt="Panah"> -->
    <tr>
        <td>
            <br>
            <button class="button"><a href="/registrasi">Login User</a></button>
            <button class="button"><a href="/loginadmin">Login Admin</a></button>
        </td>
    </tr>

    </div>

</body>

</html>