<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mainan Kartun Dari Stik Es krim</title>
    <link rel="stylesheet" href="/kartun.css">
</head>

<body>
    <br>
    <td> <a href="/bukaUser" target="_blank" rel="nofollow"><img
                src="https://cdn-icons-png.flaticon.com/128/2099/2099238.png" alt="Deskripsi Gambar"
                title="Deskripsi Gambar" width="30" height="35" style="float: left;" />
        </a> </td>
    <br>
    <br>
    <hr>

    <h5>Makecraft.com</h5>
    <br>
    <h1 align="center">Cara Membuat Mainan Kartun Dari Stik Es krim</h1>
    <a href="https://id.theasianparent.com/kerajinan-dari-stik-es-krim">sumber:theasianparent.com</a>
    <br>
    <br>
    <img src="https://s3.theasianparent.com/cdn-cgi/image/width=450,quality=90/tap-assets-prod/wp-content/uploads/sites/24/2021/07/kerajinan-dari-stik-es-krim-7.jpg"
        width="300" height="300" style="display:block; margin:auto">
    <p style="font-weight: bold; font-size: 22px;">&nbsp;&nbsp;&nbsp;&nbsp;Alat Dan Bahan :</p>
    <ul class="a">
        <li style="font-weight: normal;">Stik es krim secukupnya</li>
        <li style="font-weight: normal;">Cat lukis</li>
        <li style="font-weight: normal;">Kancing pakaian berukuran kecil</li>
        <li style="font-weight: normal;">Kain flanel</li>
    </ul>
    <p style="font-weight: bold; font-size: 22px;">&nbsp;&nbsp;&nbsp;&nbsp;Cara Membuat :</p>
    <ol type="1">
        <li>Lukis stik es krim dengan warna yang diinginkan.Atau,bisa juga melukisnya dengan warna pola jika ingin
            membuat mainan binatang.Misalnya, lukis dengan warna putih dan hitam
            untuk membuat sapi, kuning dan hitam untuk membuat pola kulit harimau, dan sebagainya.
        </li>
        <li>Tempelkan kancing baju kecil dan bentuklah sebagai mata untuk mainan. Lukis alis atau sesuaikan dengan
            karakter
            mainan yang anda buat. Tempel kain flanel untuk menciptakan hidung, rambut, atau mulut karakter yang hendak
            dibuat.
        </li>
        <li>Setelah jadi, Anda bisa memainkan karakter yang telah dibuat.</li>
    </ol>
    <br>
    <br>
</body>

</html>