<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Keranjang Dari Koran</title>
    <link rel="stylesheet" href="/keranjang.css">
</head>

<body>
    <br>
    <td> <a href="/bukaUser" target="_blank" rel="nofollow"><img
                src="https://cdn-icons-png.flaticon.com/128/2099/2099238.png" alt="Deskripsi Gambar"
                title="Deskripsi Gambar" width="30" height="35" style="float: left;" />
        </a> </td>
    <br>
    <br>
    <hr>

    <h5>Makecraft.com</h5>
    <br>
    <h1 align="center">Cara Membuat Keranjang Dari Koran</h1>
    <a
        href="https://www.radium.co.id/article/540/membuat-kerajinan-tangan-keranjang-dari-koran-bekas/">sumber:radium.co.id</a>
    <br>
    <br>
    <img src="https://www.radium.co.id/uploads/article/2017/10/article8.jpg" width="300" height="300"
        style="display:block; margin:auto">
    <p style="font-weight: bold; font-size: 22px;">&nbsp;&nbsp;&nbsp;&nbsp;Alat Dan Bahan :</p>
    <ul class="a">
        <li style="font-weight: normal;">Tumpukan koran bekas yang akan digunakan</li>
        <li style="font-weight: normal;">Lem kertas atau lem kayu, bisa juga lem kanji</li>
        <li style="font-weight: normal;">Alat pemotong ( gunting dan cutter )</li>
        <li style="font-weight: normal;">Penggaris</li>
        <li style="font-weight: normal;">lidi ( alat bantu untuk menggulung kertas koran )</li>
    </ul>
    <p style="font-weight: bold; font-size: 22px;">&nbsp;&nbsp;&nbsp;&nbsp;Cara Membuat :</p>
    <ol type="1">
        <li>Bentuk kertas koran menjadi lintingan-lintingan kecil terlebih dahulu, persiapkan kurang lebih sebanyak
            40-50 linting.</li>
        <li>Jika kesulitan dalam membuat lintingan bisa dengan menggunakan bantuan lidi, jangan lupa olesi lem pada tiap
            akhir lintingan supaya kuat dan lintingan tidak terlepas.</li>
        <li>Buatlah susunan lintingan koran saling menyilang sebanyak 8 hingga 10 lintingan.</li>
        <li>Untuk membuat dasar keranjang dengan cara teknik menganyam lintingan koran tersebut, lintingan paling bawah
            diselipkan memutar dari arah kiri ke arah kanan saling menyilang.</li>
        <li>Lakukan proses menganyam tersebut hingga bentuk anyaman dasar keranjang sudah sesuai dengan keinginan.</li>
        <li>Jika ukuran dasar keranjang sudah sesuai, tegakkan sisa lintingan keatas untuk digunakan sebagai rangka
            keranjang.</li>
        <li>Kemudian lanjutkan proses menganyam untuk membuat sisi samping keranjang hingga keatas, sesuaikan dengan
            ketinggian keranjang yang diinginkan.</li>
        <li>Untuk menambah lintingan koran pada saat proses menganyam bisa dengan menambahkan lem pada ujung lintingan,
            supaya lintingan menjadi kuat dan tidak mudah terlepas.</li>
        <li>Potong dan rapikan ujung lintingan koran yang menjadi rangka keranjang kemudian selipkan ke bawah untuk
            menutup rangkaian anyaman, boleh juga dengan memberikan lem supaya rangkaian anyaman tidak terlepas.</li>
        <li>Untuk finishing atau mempercantik keranjang yang terbuat dari kertas koran tersebut, bisa dilakukan dengan
            menguas permukaan keranjang dengan vernis kayu hingga merata.</li>
    </ol>
    <br>
    <br>
</body>

</html>