<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kincir Angin Dari Kardus</title>
    <link rel="stylesheet" href="/kincir.css">
</head>

<body>
    <br>
    <td> <a href="/bukaUser" target="_blank" rel="nofollow"><img
                src="https://cdn-icons-png.flaticon.com/128/2099/2099238.png" alt="Deskripsi Gambar"
                title="Deskripsi Gambar" width="30" height="35" style="float: left;" />
        </a> </td>
    <br>
    <br>
    <hr>

    <h5>Makecraft.com</h5>
    <br>
    <h1 align="center">Cara Membuat Kincir Angin Dari Kardus</h1>
    <a href="http://www.tobikin.com/membuat-kincir-angin-dari-sampah-plastik/">sumber:tobikin.com</a>
    <br>
    <br>
    <img src="http://static.tobikin.com/media/2017/06/IMG_20170618_195058_708-768x543.jpg" width="300" height="300"
        style="display:block; margin:auto">
    <p style="font-weight: bold; font-size: 22px;">&nbsp;&nbsp;&nbsp;&nbsp;Alat Dan Bahan :</p>
    <ul class="a">
        <li style="font-weight: normal;">Tutup botol plastik</li>
        <li style="font-weight: normal;">Sedotan plastik</li>
        <li style="font-weight: normal;">Batang lidi</li>
        <li style="font-weight: normal;">Kardus bekas</li>
        <li style="font-weight: normal;">Lakban / selotip</li>
        <li style="font-weight: normal;">Gunting</li>
        <li style="font-weight: normal;">Steples</li>
    </ul>
    <p style="font-weight: bold; font-size: 22px;">&nbsp;&nbsp;&nbsp;&nbsp;Cara Membuat :</p>
    <ol type="1">
        <li style="font-size: 20px;">Membuat bagian tengah kincir</li>
        <p>
            Ambil tutup botol lalu potong pinggiran nya menjadi empat bagian.
        </p>
        <li style="font-size: 20px;">Membuat Baling-Baling</li>
        <p>
            Ambil kardus bekas, buatlah pola baling - baling yang aerodinamis, ini berguna agar memudahkan kincir
            berputar cepat.
            untuk bagian bawah baling buat agar pas dengan tutup botol tadi.Potonglah pola baling tersebut.Lalu cetak 3
            baling lain pada kardus dan potong juga.
        </p>
        <li style="font-size: 20px;">Membuat lubang pada bagian tengah</li>
        <p>
            Buatlah lubang pada bagian tengah kincir yaitu tutup botol yang sudah kita buat tadi.Gunakan gunting, karena
            ujung gunting nya tajam, kalian bisa juga gunakan benda tajam lain untuk melubangi nya contoh cutter, hati
            hati yah guys, jangan dilakukan oleh anak kecil.
        </p>
        <li style="font-size: 20px;">Memasang Baling-Baling</li>
        <p>
            Pasanglah baling - baling pada tutup botol nya, gunakan steples untuk merekatkan nya.
        </p>
        <li style="font-size: 20px;">Memasukkan Batang Lidi</li>
        <p>
            Masukan batang lidi ke bagian lubang tengah nya.Agar tidak lepas, lakban pada bagian depan kincir.
        </p>
        <li style="font-size: 20px;">Memasukkan Kincir Pada Sedotan</li>
        <p>
            Kincir sudah jadi, agar kincir berputar, masukan kincir ke sedotan.Beri ikatan karet pada bagian ujung nya,
            agar kincir tidak jatuh dari sedotan.
            Jadilah kincir angin nya.Kincir angin bisa diberi warna pada baling - baling agar lebih menarik.
        </p>
    </ol>
    <br>
    <br>
</body>

</html>