<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Laci Dari Kardus Sepatu</title>
    <link rel="stylesheet" href="/laci.css">
</head>

<body>
    <br>
    <td> <a href="/bukaUser" target="_blank" rel="nofollow"><img
                src="https://cdn-icons-png.flaticon.com/128/2099/2099238.png" alt="Deskripsi Gambar"
                title="Deskripsi Gambar" width="30" height="35" style="float: left;" />
        </a> </td>
    <br>
    <br>
    <hr>

    <h5>Makecraft.com</h5>
    <br>
    <h1 align="center">Cara Membuat Laci Dari Kardus Sepatu</h1>
    <a href="https://udsregep.com/cara-membuat-rak-buku-mini-dari-kardus-bekas-sepatu/">sumber:udsregep.com</a>
    <br>
    <br>
    <img src="https://udsregep.com/wp-content/uploads/2020/03/Cara-Membuat-Rak-Buku-Mini-Dari-Kardus-Bekas-Sepatu-.jpg"
        width="300" height="300" style="display:block; margin:auto">
    <p style="font-weight: bold; font-size: 22px;">&nbsp;&nbsp;&nbsp;&nbsp;Alat Dan Bahan :</p>
    <ul class="a">
        <li style="font-weight: normal;">Kardus bekas sepatu (ukuran dan jumlah sesuai selera)</li>
        <li style="font-weight: normal;">Gunting atau Cutter</li>
        <li style="font-weight: normal;">Lakban bening/selotip</li>
        <li style="font-weight: normal;">Lem</li>
        <li style="font-weight: normal;">Kertas kado</li>
        <li style="font-weight: normal;">Penggaris</li>
        <li style="font-weight: normal;">Pensil</li>
    </ul>
    <p style="font-weight: bold; font-size: 22px;">&nbsp;&nbsp;&nbsp;&nbsp;Cara Membuat :</p>
    <ol type="1">
        <li>Ambil kardus bekas pembungkus sepatu lengkap dengan penutupnya.</li>
        <li>Dengan menggunakan selotip atau lakban bening rekatkan tutup bungkus sepatu ke kardus bungkus sepatu.</li>
        <li>Sekarang kamu memiliki kotak bungkus sepatu yang sudah ditutup dengan rapi dan rapat.</li>
        <li>Memotong kardus
            <p>- Dengan menggunakan penggaris dan pensil, buatlah pola segitiga pada bagian sisi atas kardus sepatu.</p>
            <p>- Pola segitiga simetris harus dibuat pada bagian depan (bagian penutup sepatu) dan bagian belakang.</p>
            <p>- Sisi segitiga jangan terlalu panjang (maksimal hanya setengah dari panjang kardus).</p>
            <p>- Dengan menggunakan gunting dan cutter potong segitiga tersebut dengan hati-hati agar hasilnya rapi.</p>
        </li>
        <li>Dengan menggunakan lem, tempelkan kertas kado pada permukaan kadus.</li>
        <li>Dengan cara yang sama buat 2 atau 3 lagi kotak kardus seperti di atas.</li>
        <li>Dengan menggunakan lem tembak tempelkan semua rak kardus menjadi satu sehingga menjadi kokoh dan rapi</li>
        <li>Rak buku mini selesai dibuat.</li>
    </ol>
    <br>
    <br>
</body>

</html>