<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lampu Dari Sendok Plastik</title>
    <link rel="stylesheet" href="/lampu.css">
</head>

<body>
    <br>
    <td> <a href="/bukaUser" target="_blank" rel="nofollow"><img
                src="https://cdn-icons-png.flaticon.com/128/2099/2099238.png" alt="Deskripsi Gambar"
                title="Deskripsi Gambar" width="30" height="35" style="float: left;" />
        </a> </td>
    <br>
    <br>
    <hr>

    <h5>Makecraft.com</h5>
    <br>
    <h1 align="center">Cara Membuat Lampu Dari Sendok Plastik</h1>
    <a
        href="https://www.kompasiana.com/chinthayuanita1156/5d80645f0d82303253115be2/cara-membuat-tempat-lampu-dari-sendok-plastik">sumber:kompasiana.com</a>
    <br>
    <br>
    <img src="https://storage.googleapis.com/bucket-moselo-web-production/2022/06/image-72.png" width="300" height="300"
        style="display:block; margin:auto">
    <p style="font-weight: bold; font-size: 22px;">&nbsp;&nbsp;&nbsp;&nbsp;Alat Dan Bahan :</p>
    <ul class="a">
        <li style="font-weight: normal;">Botol bekas</li>
        <li style="font-weight: normal;">Sendok plastik</li>
        <li style="font-weight: normal;">Lampu lengkap</li>
        <li style="font-weight: normal;">Pisau</li>
        <li style="font-weight: normal;">Obeng</li>
        <li style="font-weight: normal;">Lem</li>
        <li style="font-weight: normal;">Cat</li>
    </ul>
    <p style="font-weight: bold; font-size: 22px;">&nbsp;&nbsp;&nbsp;&nbsp;Cara Membuat :</p>
    <ol type="1">
        <li>Siapkan bahan dan alat yang di butuhkan.</li>
        <li>Potong botol plastik sesuai yang di inginkan.</li>
        <li>Langkah selanjutnya, potong gagang sendok.</li>
        <li>Satukan botol dan sendok menggunakan lem agar terlihat indah.</li>
        <li>Cat sendok yang sudah di tempel sesuai selera.</li>
        <li>Tambahkan hiasan sesuai selera menggunakan sisa botol.</li>
        <li>Pasang lampunya dan tiangnya untuk berdirinya lampu.</li>
        <li>Lampu hias dari botol siap di gunakan.</li>
    </ol>
    <br>
    <br>
</body>

</html>