<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pesawat Terbang Dari Botol Bekas</title>
    <link rel="stylesheet" href="/pesawat.css">
</head>

<body>
    <br>
    <td> <a href="/bukaUser" target="_blank" rel="nofollow"><img
                src="https://cdn-icons-png.flaticon.com/128/2099/2099238.png" alt="Deskripsi Gambar"
                title="Deskripsi Gambar" width="30" height="35" style="float: left;" />
        </a> </td>
    <br>
    <br>
    <hr>

    <h5>Makecraft.com</h5>
    <br>
    <h1 align="center">Cara Membuat Pesawat Dari Botol Bekas</h1>
    <a
        href="https://kreatorkerajinan.blogspot.com/2018/10/cara-membuat-pesawat-dari-botol-aqua.html">sumber:blogspot.com</a>
    <br>
    <br>
    <img src="https://4.bp.blogspot.com/-qwNxYJiJxrs/W9Lf8uU5HvI/AAAAAAAACtM/AC2P6ZcdvdgeUZQ3vnEG9c8oW4Ew3S9bACLcBGAs/s400/0a%2B%2528FILEminimizer%2529.jpg"
        width="300" height="300" style="display:block; margin:auto">
    <p style="font-weight: bold; font-size: 22px;">&nbsp;&nbsp;&nbsp;&nbsp;Alat Dan Bahan :</p>
    <ul class="a">
        <li style="font-weight: normal;">Botol bekas</li>
        <li style="font-weight: normal;">Kertas Manila Putih dan Kertas Manila Berwarna</li>
        <li style="font-weight: normal;">Lem Kertas</li>
        <li style="font-weight: normal;">Double Tape</li>
        <li style="font-weight: normal;">Isolasi</li>
        <li style="font-weight: normal;">Gunting</li>
        <li style="font-weight: normal;">Pensil</li>
    </ul>
    <p style="font-weight: bold; font-size: 22px;">&nbsp;&nbsp;&nbsp;&nbsp;Cara Membuat :</p>
    <ol type="1">
        <li>Ambil botol bekas, lalu rekatkan double tape pada botol.</li>
        <li>Ambil kertas warna putih, lalu bungkus botol dengan itu.</li>
        <li>Buat pola sesuai dengan ukuran botol. Untuk bagian belakang dan gunting bagian belakang.</li>
        <li>Gunting dan buat sayap bagian atas.</li>
        <li>Olesi lem kertas pada kertas agar tidak lepas.</li>
        <li>Ambil kertas manila berwarna, gunting dan buat sayap, lalu tempelkan pada bagian sayap belakang.</li>
        <li>Potong manila dan buat menyerupai cincin lalu tempelkan menggunakan double tape.</li>
        <li>Gunting kertas manila berwarna, buat sayap pada sisi samping botol bekas dan diatas cincin kertas.</li>
        <li>Gunting kertas membetuk lingkarang kecil. Buat saja enam lalu tempelkan pada bagian atas pesawat.</li>
        <li>Potong kertas lagi dan buat baling-baling pada bagian tutup botol.</li>
        <li>Selesai, pesawat terbang dari botol bekas telah siap untuk dipajang atau dimainkan</li>
    </ol>
    <br>
    <br>
</body>

</html>