<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Piring Dari Gelas Bekas Minuman</title>
    <link rel="stylesheet" href="/piring.css">
</head>

<body>
    <br>
    <td> <a href="/bukaUser" target="_blank" rel="nofollow"><img
                src="https://cdn-icons-png.flaticon.com/128/2099/2099238.png" alt="Deskripsi Gambar"
                title="Deskripsi Gambar" width="30" height="35" style="float: left;" />
        </a> </td>
    <br>
    <br>
    <hr>

    <h5>Makecraft.com</h5>
    <br>
    <h1 align="center">Cara Membuat Piring Dari Gelas Bekas Minuman</h1>
    <a href="https://www.rlpchanel.com/2021/09/cara-membuat-kerajinan-piring-dari.html">sumber:ripchanel.com</a>
    <br>
    <br>
    <img src="https://1.bp.blogspot.com/-63eRm0N7CdY/YPqICY-GDUI/AAAAAAAAEmk/uFheC41G15oxVEAlZzPyLL6SvV_U6CF2ACLcBGAsYHQ/w331-h248/IMG20210715123951.jpg"
        width="300" height="300" style="display:block; margin:auto">
    <p style="font-weight: bold; font-size: 22px;">&nbsp;&nbsp;&nbsp;&nbsp;Alat Dan Bahan :</p>
    <ul class="a">
        <li style="font-weight: normal;">Gelas bekas minuman (Ale-ale, teh Rio, dll)</li>
        <li style="font-weight: normal;">Tali kawat</li>
        <li style="font-weight: normal;">Senar pancing</li>
        <li style="font-weight: normal;">Gunting</li>
        <li style="font-weight: normal;">Cutter / silet</li>
    </ul>
    <p style="font-weight: bold; font-size: 22px;">&nbsp;&nbsp;&nbsp;&nbsp;Cara Membuat :</p>
    <ol type="1">
        <li>Potong gelas bekas minuman, ambil bagian bibir minuman.</li>
        <li>Bersihkan bibir gelas menggunakan cutter / silet.</li>
        <li>Pilihlah warna tali kawat sesuai selera kamu, kemudian potong tali kawat sepanjang 115 cm.</li>
        <li>Balutkan tali kawat pada bibir gelas sampai seluruh permukaan bibir gelas tertutup dengan tali kawat. kalian
            bisa menggunakan 2 warna tali kawat tergantung selera kalian.</li>
        <li>Kemudian buat atasan piring, rangkai bibir gelas menggunakan tali kawat / senar pancing. Setelah kalian
            rangkai, tekuk melingkar kerajinan kalian satukan menjadi satu sehingga terlihat seperti lingkaran piring.
        </li>
        <li>Lalu buatlah bawahan piring, rangkai bawahan piring menggunakan tali kawat.</li>
        <li>Setelah kalian membuat atasan piring dan bawahan piring satukan bagian tersebut menjadi satu bagian sehingga
            membentuk kerajinan piring.</li>
        <li>Selesai, kerajinan piring kalian sudah jadi.</li>
    </ol>
    <br>
    <br>
</body>

</html>