<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Robot Dari Tutup Botol</title>
    <link rel="stylesheet" href="/robot.css">
</head>

<body>
    <br>
    <td> <a href="/bukaUser" target="_blank" rel="nofollow"><img
                src="https://cdn-icons-png.flaticon.com/128/2099/2099238.png" alt="Deskripsi Gambar"
                title="Deskripsi Gambar" width="30" height="35" style="float: left;" />
        </a> </td>
    <br>
    <br>
    <hr>

    <h5>Makecraft.com</h5>
    <br>
    <h1 align="center">Cara Membuat Robot Dari Tutup Botol</h1>
    <a
        href="https://www.zonakreatif.com/kreasi-unik-mainan-anak-robot-robotan-dari-tutup-botol-bekas/">sumber:zonakreatif.com</a>
    <br>
    <br>
    <img src="https://www.zonakreatif.com/wp-content/uploads/2016/04/Kreasi-Unik-Mainan-Anak-Robot-Robotan-dari-Tutup-Botol-Bekas.jpg"
        width="300" height="300" style="display:block; margin:auto">
    <p style="font-weight: bold; font-size: 22px;">&nbsp;&nbsp;&nbsp;&nbsp;Alat Dan Bahan :</p>
    <ul class="a">
        <li style="font-weight: normal;">24 tutup botol bekas/sesuai selera</li>
        <li style="font-weight: normal;">Bahan plastik perekat antara tutup dengan mulut botol</li>
        <li style="font-weight: normal;">Kawat</li>
        <li style="font-weight: normal;">Gunting besar/tang</li>
        <li style="font-weight: normal;">Paku dan palu</li>
        <li style="font-weight: normal;">Kain perca/baju bekas</li>
        <li style="font-weight: normal;">Lem tembak/perekat lainnya (jika diperlukan)</li>
    </ul>
    <p style="font-weight: bold; font-size: 22px;">&nbsp;&nbsp;&nbsp;&nbsp;Cara Membuat :</p>
    <ol type="1">
        <li>Potong kawat menjadi tiga potongan sama panjang (satu untuk badan dan dua untuk kaki) lalu potong lagi kawat
            untuk kedua tangan.</li>
        <li>Buat lubang di tengah tutup botol dengan paku dan palu untuk membuat badan dan kaki robot (masing-masing 6
            tutup botol).</li>
        <li>Buat lubang pada sisi kanan dan kiri (dua tutup botol).</li>
        <li>Pasang kawat pada kedua sisi kanan dan kiri botol yang tadi dilubangi (untuk kedua kaki dan kedua tangan).
        </li>
        <li>Mulailah menyusun 6 tutup botol untuk badan robot dengan posisi tutup yang ada kawat untuk kaki berada di
            bagian paling bawah, sedangkan yang ada kawat untuk tangan berada di no.2 dari atas.</li>
        <li>Lilitkan kain perca/baju bekas pada kedua ujung kawat badan robot agar tidak melukai tangan.</li>
        <li>Lanjutkan dengan menyusun kedua kaki, masing-masing 6 tutup botol, lalu lilitkan kain perca/baju bekas pada
            ujung kawat bagian bawah. Jangan lupa kawat agak dibengkokkan.</li>
        <li>Untuk membuat kedua tangan, masing-masing terdiri dari tiga tutup botol dengan lubang yang berbeda:
            <p>1.Dua tutup dengan lubang di tengah.</p>
            <p>2.Dua tutup dengan lubang di sisi kanan dan kiri (sejajar).</p>
            <p>3.Dua tutup di sisi kanan dan kiri tapi tidak sejajar (satu lubang condong ke kanan ataupun sebaliknya).
            </p>
        </li>
        <li>Susun tutup botol pada kedua tangan, lalu lilitkan kain perca/baju bekas pada ujung kawat bawah.</li>
        <li>Potong bahan plastik perekat antara tutup dengan mulut botol menjadi 4 bagian/sesuai selera.</li>
        <li>Tempelkan potongan pada kedua tangan (masing-masing empat potongan sebagai jari tangan). Jika tidak ada lem,
            bakar potongan dan segera tempelkan pada tutup selagi panas.</li>
        <li>Kreasi unik mainan robot-robotan sudah jadi.</li>
    </ol>
    <br>
    <br>
</body>

</html>