<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rumah Dari Kardus Bekas</title>
    <link rel="stylesheet" href="/rumah.css">
</head>

<body>
    <br>
    <td> <a href="/bukaUser" target="_blank" rel="nofollow"><img
                src="https://cdn-icons-png.flaticon.com/128/2099/2099238.png" alt="Deskripsi Gambar"
                title="Deskripsi Gambar" width="30" height="35" style="float: left;" />
        </a> </td>
    <br>
    <br>
    <hr>

    <h5>Makecraft.com</h5>
    <br>
    <h1 align="center">Cara Membuat Rumah-Rumahan Dari Kardus Bekas</h1>
    <a href="https://desainermales.com/tutorial-membuat-rumah-rumahan-dari-kardus-bekas/">sumber:desainermales.com</a>
    <br>
    <br>
    <img src="https://desainermales.com/wp-content/uploads/2016/12/DSC_4120-1024x683.jpg" width="300" height="300"
        style="display:block; margin:auto">
    <p style="font-weight: bold; font-size: 22px;">&nbsp;&nbsp;&nbsp;&nbsp;Alat Dan Bahan :</p>
    <ul class="a">
        <li style="font-weight: normal;">Kardus/yellow board bekas</li>
        <li style="font-weight: normal;">Lem UHU</li>
        <li style="font-weight: normal;">Cat akrilik maupun cat poster. Cukup dengan 5 warna dasar: merah, kuning, biru,
            hitam, dan putih. Dari 5 warna dasar ini kita bisa mencampur sesuai warna yang diinginkan.</li>
        <li style="font-weight: normal;">Cat poster warna emas (gold), untuk aksen saja</li>
        <li style="font-weight: normal;">Kuas lukis</li>
        <li style="font-weight: normal;">Pola rumah-rumahan</li>
    </ul>
    <p style="font-weight: bold; font-size: 22px;">&nbsp;&nbsp;&nbsp;&nbsp;Cara Membuat :</p>
    <ol type="1">
        <li>Print gambar pola rumah-rumahan. Kemudian potong sesuai pola.</li>
        <li>Potong kardus sesuai dengan pola kertas yang sudah dipotong tadi. Bisa dengan menempelkan portongan kertas
            dengan setitik lem. Bisa juga digambar ulang dengan cara menjiplaknya.</li>
        <li>Kemudian mari kita rekatkan dengan lem UHU. Saya menggunakan lem UHU yang cair (kemasan tube), kalau pakai
            lem UHU yang stik sepertinya kurang kuat daya lengketnya.</li>
        <li>Warnai Dengan menggunakan lima warna dasar (merah, kuning, biru, hitam, dan putih) kita bisa bereksperimen
            dengan mencampurkan warnanya. Misal kuning dan biru menjadi hijau, merah dan kuning menjadi orange. Ingin
            warna lebih gelap tinggal ditambah warna hitam. Ingin warna lebih muda silakan ditambah warna putih.Beri
            sedikit aksen emas menggunakan cat poster.</li>
        <li>Rumah-rumahan dari kardus bekas sudah selesai.Silahkan berekpresi dengan warna dan bentuk. Untuk bagian atap
            bisa diberi motif sisik ikan. Bagian dinding bisa diberi garis-garis emas. Jangan lupa juga gambar pintu dan
            jendela.</li>
    </ol>
    <br>
    <br>
</body>

</html>