<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stand HP Dari Stik Es krim</title>
    <link rel="stylesheet" href="/standhp.css">
</head>

<body>
    <br>
    <td> <a href="/bukaUser" target="_blank" rel="nofollow"><img
                src="https://cdn-icons-png.flaticon.com/128/2099/2099238.png" alt="Deskripsi Gambar"
                title="Deskripsi Gambar" width="30" height="35" style="float: left;" />
        </a> </td>
    <br>
    <br>
    <hr>

    <h5>Makecraft.com</h5>
    <br>
    <h1 align="center">Cara Membuat Stand HP Dari Stik Es krim</h1>
    <a href="http://novehasanah.blogspot.com/2017/01/kerajinan-tangan-stik-es-dudukan-hp.html">sumber:blogspot.com</a>
    <br>
    <br>
    <img src="https://3.bp.blogspot.com/-7aMscDvQG9s/Wtkrs4Fi4ZI/AAAAAAAABPQ/1XnZWXRdsXYi6Kh-QlZfDjhSvk5osD12wCLcBGAs/s320/penyangga-hp-dari-stik-es-krim-7.jpg"
        width="300" height="300" style="display:block; margin:auto">
    <p style="font-weight: bold; font-size: 22px;">&nbsp;&nbsp;&nbsp;&nbsp;Alat Dan Bahan :</p>
    <ul class="a">
        <li style="font-weight: normal;">7 batang stik es krim dengan ukuran panjang sekitar 10 cm</li>
        <li style="font-weight: normal;">Lem FOX putih atau lem kayu</li>
        <li style="font-weight: normal;">gunting</li>
    </ul>
    <p style="font-weight: bold; font-size: 22px;">&nbsp;&nbsp;&nbsp;&nbsp;Cara Membuat :</p>
    <ol type="1">
        <li>Siapkan stik es krimnya, pilih yang agak lurus dan warnanya sama.</li>
        <li>Susunlah 3 buah stik es krim membentuk segitiga. Kita melakukannya untuk membuat kaki-kaki penyangga HP
            nantinya seimbang kiri dan kanan.</li>
        <li>Angkat stik es krim di bagian bawah, geser ke atas sehingga membentuk seperti huruf A. Beri lem sambungan
            stik es krim yang baru digeser ke atas ini agar melekat. Diamkan beberapa saat sampai mengering.</li>
        <li>Ambil sebatang stik es krim lainnya, dan potong sepanjang kira-kira 2,5 cm. Gunakan gunting atau cutter.
            Hati-hati menggunakan alat-alat yang tajam tersebut.</li>
        <li>Kini kita telah mempunyai 2 buah potongan stik es krim dengan panjang sekitar 2,5 cm.</li>
        <li>Tempelkan dengan lem kedua potongan stik es krim tersebut pada ujung atas bentuk huruf A tersebut secara
            bolak-balik (pada bagian depan dan bagian belakang) untuk menyambungkannya.</li>
        <li>Biarkan beberapa saat sampai lem cukup mengering dan kedua potongan stik es krim menempel erat.</li>
        <li>Pada bagian bawah, lapisi stik es krim untuk penyangga kaki seperti gambar agar lebih kuat. Biarkan
            mengering.</li>
        <li>Tambahkan lem pada bagian sisi bawah stik es yang baru ditempelkan tadi.</li>
        <li>Tempelkan sebuah stik es krim lagi untuk menyangga badan HP nantinya. Biarkan sampai cukup kering dan
            melekat kuat.</li>
        <li>Sekarang tambahkan segumpal lem pada celah yang terdapat di antara 2 potongan pendek stik es krim di bagian
            puncak bentuk huruf A tadi.</li>
        <li>Selipkan sebatang stik es krim lagi, kali ini akan digunakan untuk menyangga bentuk huruf A agar dapat
            berdiri tegak. Tahan dengan tangan untuk mendapatkan ukuran bukaan kaki yang cukup kuat. Biarkan mengering
            beberapa saat.</li>
        <li>penyangga HPnya sudah selesai.</li>
        <li>Untuk meletakkan HP, taruh handphone secara mendatar pada sanggaan.</li>
    </ol>
    <br>
    <br>
</body>

</html>