<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tempat Tisu Dari Koran</title>
    <link rel="stylesheet" href="/tempattisu.css">
</head>

<body>
    <br>
    <td> <a href="/bukaUser" target="_blank" rel="nofollow"><img
                src="https://cdn-icons-png.flaticon.com/128/2099/2099238.png" alt="Deskripsi Gambar"
                title="Deskripsi Gambar" width="30" height="35" style="float: left;" />
        </a> </td>
    <br>
    <br>
    <hr>

    <h5>Makecraft.com</h5>
    <br>
    <h1 align="center">Cara Membuat Tempat Tisu Dari Koran</h1>
    <a href="https://udsregep.com/tempat-tisu-dari-koran-dan-cara-membuatnya/">sumber:udsregep.com</a>
    <br>
    <br>
    <img src="https://udsregep.com/wp-content/uploads/2020/02/Tempat-Tisu-Dari-Koran-Dan-Cara-Membuatnya.jpeg"
        width="300" height="300" style="display:block; margin:auto">
    <p style="font-weight: bold; font-size: 22px;">&nbsp;&nbsp;&nbsp;&nbsp;Alat Dan Bahan :</p>
    <ul class="a">
        <li style="font-weight: normal;">Koran bekas</li>
        <li style="font-weight: normal;">Double tape</li>
        <li style="font-weight: normal;">Pensil</li>
        <li style="font-weight: normal;">Penggaris</li>
        <li style="font-weight: normal;">Gunting</li>
        <li style="font-weight: normal;">Kardus bekas tempat sepatu</li>
    </ul>
    <p style="font-weight: bold; font-size: 22px;">&nbsp;&nbsp;&nbsp;&nbsp;Cara Membuat :</p>
    <ol type="1">
        <li>Dengan menggunakan pensil gulung koran bekas sehingga menyerupai sapu lidi. Agar gulungan tidak lepas, lem
            bagian ujung gulungan dengan lem kertas atau double tape. Setelah gulungan selesai, pensil dari dalam
            gulungan bisa diambil lalu buat gulungan kertas secukupnya. Agar tampak rapi usahakan gulungan kertas
            memiliki ukuran yang sama.</li>
        <li>Langkah berikutnya adalah potong gulungan kertas tadi sesuai dengan ukuran tinggi dan lebar dari kardus
            sepatu yang akan dipakai.</li>
        <li>Langkah selanjutnya adalah mengambil kotak sepatu bekas.</li>
        <li>Ambil penggaris dan pensil untuk mengukur besarnya lubang yang harus dibuat pada penutup sepatu. Lubang
            harus berada di tengah permukaan.</li>
        <li>Bila proses pengukuran selesai, potong dengan menggunakan cutter atau gunting.</li>
        <li>Sekarang beri semua permukaan luar karton sepatu dengan double tape. Masing-masing sisi dari kotak sepatu
            beri tiga double tape yaitu pada bagian bawah, tengah dan bagian atas.</li>
        <li>Selanjutnya tempelkan potongan-potongan gulungan kertas tadi di semua permukaan kardus yang sudah diberi
            double tape.</li>
        <li>Agar tampak lebih menarik, penempelan gulungan kertas harus dilakukan dengan berbagai macam variasi.
            Misalnya satu sisi dipasang horizontal dan sisi lain dipasang secara vertikal (terserah pada kreativitas
            anda).</li>
        <li>Proses pembuatan kotak tisu dari koran bekas sudah selesai.</li>
    </ol>
    <br>
    <br>
</body>

</html>