<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tempat Sampah Dari Kardus Bekas</title>
    <link rel="stylesheet" href="/tempatsampah.css">
</head>

<body>
    <br>
    <td> <a href="/bukaUser" target="_blank" rel="nofollow"><img
                src="https://cdn-icons-png.flaticon.com/128/2099/2099238.png" alt="Deskripsi Gambar"
                title="Deskripsi Gambar" width="30" height="35" style="float: left;" />
        </a> </td>
    <br>
    <br>
    <hr>

    <h5>Makecraft.com</h5>
    <br>
    <h1 align="center">Cara Membuat Tempat Sampah Dari Kardus Bekas</h1>
    <a href="https://memenangkan.com/kerajinan-tempat-sampah-dari-kardus">sumber:memenangkan.com</a>
    <br>
    <br>
    <img src="https://img.cdnki.com/kerajinan-tempat-sampah-dari-kardus---1c3ee56f85c65847870f55736ec681bb.wepb"
        width="300" height="300" style="display:block; margin:auto">
    <p style="font-weight: bold; font-size: 22px;">&nbsp;&nbsp;&nbsp;&nbsp;Alat Dan Bahan :</p>
    <ul class="a">
        <li style="font-weight: normal;">Kardus bekas, gunakan 2 kardus Aqua gelas</li>
        <li style="font-weight: normal;">Penggaris</li>
        <li style="font-weight: normal;">Kater</li>
        <li style="font-weight: normal;">Pensil</li>
        <li style="font-weight: normal;">Lem tembak</li>
        <li style="font-weight: normal;">Sedotan</li>
        <li style="font-weight: normal;">Stik es krim</li>
        <li style="font-weight: normal;">Lidi</li>
        <li style="font-weight: normal;">Stiker</li>
    </ul>
    <p style="font-weight: bold; font-size: 22px;">&nbsp;&nbsp;&nbsp;&nbsp;Cara Membuat :</p>
    <ol type="1">
        <li>Ambil kardus berbentuk persegi panjang ukuran panjang 35 cm dan lebar 15 cm.Potong tipis yang tidak sampai
            memotongnya karena ini bertujuan untuk melenturkan kardus.</li>
        <li>Oleskan lem dan rekatkan.</li>
        <li>Buat juga satu lagi dengan ukuran panjang 45cm dan lebar 20cm. Gunakan teknik diatas ya. Yang besar ini
            untuk wadah luarnya sedangkan yang kecil untuk bagian dalam.</li>
        <li>Buat lubang pada kardus Yang besar sebagai tempat alat pencetnya. Dan buat alas pada kedua tabung kardus
            kita tapi jangan di rekatkan dulu ya.</li>
        <li>Buat pola garis di lubang kardus yang besar pada alasnya.</li>
        <li>Lalu rekatkan sesuai pola yang kita sudah buat tadi. Rekatkan kardus yang digunakan untuk membuat
            jungkat-jungkit atau alat pencetan nya.</li>
        <li>Tempelkan sedotan ditengah bagian kardus, diatasnya di beri stik es krim yang sudah di rekatkan dengan lem,
            kemudian lubangi menggunakan lidi. Lidi ini yang berperan untuk keberhasilan tempat sampah pintar kita.</li>
        <li>Rekatkan bagian alas menggunakan lem tembak.</li>
        <li>Uji coba apakah jungkat jungkit pada sampah telah berhasil.</li>
        <li>Setelah itu kita buat tutup tempat sampah.</li>
        <li>Uji coba lagi apakah tutup tempat sampah bisa atau bekerja.</li>
        <li>Lalu kita tutupi pencetan nya dengan kardus.</li>
        <li>Tidak lupa beri stiker agar kita atau orang lain ingat bahwa tempat sampah ini hanya untuk jenis sampah
            kering.</li>
        <li>Tempat sampah telah siap digunakan.</li>
    </ol>
    <br>
    <br>
</body>

</html>