<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vas Dari Stik Eskrim</title>
    <link rel="stylesheet" href="/vas.css">
</head>

<body>
    <br>
    <td> <a href="/bukaUser" target="_blank" rel="nofollow"><img
                src="https://cdn-icons-png.flaticon.com/128/2099/2099238.png" alt="Deskripsi Gambar"
                title="Deskripsi Gambar" width="30" height="35" style="float: left;" />
        </a> </td>
    <br>
    <br>
    <hr>

    <h5>Makecraft.com</h5>
    <br>
    <h1 align="center">Cara Membuat Vas Dari Stik Eskrim</h1>
    <a href="https://kreatorkerajinan.blogspot.com/2018/08/vas-bunga-dari-stik-es-krim.html">sumber:blogspot.com</a>
    <br>
    <br>
    <img src="https://1.bp.blogspot.com/--7m2TTJ07Hw/W3S5yvF4KyI/AAAAAAAABno/-M-EAqEet90zmXHoL9M_GPpBRYUyliF3wCLcBGAs/s400/6%2B%2528FILEminimizer%2529.jpg"
        width="300" height="300" style="display:block; margin:auto">
    <p style="font-weight: bold; font-size: 22px;">&nbsp;&nbsp;&nbsp;&nbsp;Alat Dan Bahan :</p>
    <ul class="a">
        <li style="font-weight: normal;">Stik es krim = 120+ buah</li>
        <li style="font-weight: normal;">Lem tembak</li>
        <li style="font-weight: normal;">Sterofom</li>
        <li style="font-weight: normal;">Bunga hias</li>
    </ul>
    <p style="font-weight: bold; font-size: 22px;">&nbsp;&nbsp;&nbsp;&nbsp;Cara Membuat :</p>
    <ol type="1">
        <li>Buat stik es krim menjadi bidang segitiga.</li>
        <li>Tumpuk 4 buah segitiga stik es krim.</li>
        <li>Bariskan 9 stik es krim dengan rapi rekatkan dengan menggunakan isolasi atau tape, setelah itu rekatkan
            dengan tumpukan segitiga stik es krim.</li>
        <li>
            Ambil segitiga stik es krim, beri lem, tumpuk dengan arah jarum jam terbalik.Rekatkan dengan hati hati ya
            dan tempel dengan gerakan memutar arah jarum jam.
            Jika sudah terasa cukup maka, kita sudahi merekatkan segitiga stik es krim dan kita pindah ke tahap
            berikutnya.
        </li>
        <li>Setelah selesai, masukkan sterofom.</li>
        <li>Ambil bunga hias, lalu tempelkan pada sterofom.</li>
        <li>Vas bunga hias telah siap dipajang dan dipamerkan. </li>
    </ol>
    <br>
    <br>
</body>

</html>